---
import BlowfishArticleLinkCardRelated from './BlowfishArticleLinkCardRelated.astro';
import { t } from '../../lib/i18n';

interface RelatedItem {
  title: string;
  href: string;
  summary?: string;
  date?: string;
  readingTime?: string;
  thumbnail?: string;
  external?: boolean;
  draft?: boolean;
}

export interface Props {
  items?: RelatedItem[];
}

const { items = [] } = Astro.props;
---

{items.length > 0 && (
  <section class="w-full">
    <h2 class="mt-8 text-2xl font-extrabold mb-10">{t('article.related_articles')}</h2>
    <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
      {items.map((item) => <BlowfishArticleLinkCardRelated {...item} />)}
    </section>
  </section>
)}
