---
import { t } from '../../lib/i18n';

interface SeriesItem {
  title: string;
  href: string;
  current?: boolean;
}

export interface Props {
  name: string;
  items?: SeriesItem[];
  open?: boolean;
}

const { name, items = [], open = false } = Astro.props;
---

{items.length > 0 && (
  <details class="mt-2 mb-5 overflow-hidden rounded-lg ms-0 ps-5" open={open}>
    <summary class="py-1 text-lg font-semibold cursor-pointer bg-primary-200 text-neutral-800 -ms-5 ps-5 dark:bg-primary-800 dark:text-neutral-100">
      {name} - {t('article.part_of_series')}
    </summary>

    {items.map((item, index) => (
      <div class="py-1 border-dotted border-neutral-300 border-s-1 -ms-5 ps-5 dark:border-neutral-600">
        {item.current ? (
          <>
            {t('article.part')} {index + 1}: {t('article.this_article')}
          </>
        ) : (
          <a href={item.href}>
            {t('article.part')} {index + 1}: {item.title}
          </a>
        )}
      </div>
    ))}
  </details>
)}
