---
import { t } from '../../lib/i18n';

export interface Props {
  date?: string;
  updated?: string;
  readingTime?: string;
  wordCount?: number;
}

const { date, updated, readingTime, wordCount } = Astro.props;
const hasUpdated = Boolean(updated);
const hasWordCount = typeof wordCount === 'number';
const hasReadingTime = Boolean(readingTime);
---

<div class="flex flex-row flex-wrap items-center">
  {date && <span>{date}</span>}
  {date && (hasUpdated || hasWordCount || hasReadingTime) && <span class="px-2 text-primary-500">&middot;</span>}

  {hasUpdated && <span>{t('article.date_updated', { Date: updated! })}</span>}
  {hasUpdated && (hasWordCount || hasReadingTime) && <span class="px-2 text-primary-500">&middot;</span>}

  {hasWordCount && <span>{t('article.word_count', { Count: wordCount! })}</span>}
  {hasWordCount && hasReadingTime && <span class="px-2 text-primary-500">&middot;</span>}

  {hasReadingTime && <span>{readingTime}</span>}
</div>
