---
import BlowfishBadge from '../BlowfishBadge.astro';

interface TaxonomyItem {
  label: string;
  href?: string;
}

export interface Props {
  tags?: TaxonomyItem[];
  categories?: TaxonomyItem[];
}

const { tags = [], categories = [] } = Astro.props;
const items = [...categories, ...tags];
---

{items.length > 0 && (
  <div class="flex flex-row flex-wrap items-center">
    {items.map((item) =>
      item.href ? (
        <a class="relative mt-[0.5rem] me-2" href={item.href}>
          <BlowfishBadge>{item.label}</BlowfishBadge>
        </a>
      ) : (
        <span class="relative mt-[0.5rem] me-2">
          <BlowfishBadge>{item.label}</BlowfishBadge>
        </span>
      )
    )}
  </div>
)}
