---
import BlowfishIcon from '../BlowfishIcon.astro';

interface LinkItem {
  name: string;
  href: string;
}

export interface Props {
  links?: LinkItem[];
}

const { links = [] } = Astro.props;
---

{links.length > 0 && (
  <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500">
    {links.map((link) => (
      <a
        class="px-1 hover:text-primary-700 dark:hover:text-primary-400"
        href={link.href}
        target="_blank"
        aria-label={link.name}
        title={link.name}
        rel="me noopener noreferrer"
      >
        <span class="inline-block align-text-bottom">
          <BlowfishIcon name={link.name} />
        </span>
      </a>
    ))}
  </div>
)}
