---
export interface Props {
  image?: string;
  imagePosition?: string;
  blur?: boolean;
  addHeaderSpace?: boolean;
}

const { image, imagePosition, blur = false, addHeaderSpace = true } = Astro.props;
---

{addHeaderSpace && <div id="hero" class="h-[150px] md:h-[200px]"></div>}

{image && (
  <div class="fixed inset-x-0 top-0 h-[800px] single_hero_background nozoom">
    <img
      id="background-image"
      src={image}
      alt=""
      role="presentation"
      class="absolute inset-0 h-full w-full object-cover"
      style={imagePosition ? `object-position:${imagePosition};` : undefined}
    />
    <div class="absolute inset-0 bg-gradient-to-t from-neutral to-transparent mix-blend-normal dark:from-neutral-800"></div>
    <div class="absolute inset-0 bg-gradient-to-t from-neutral to-neutral-100 opacity-60 mix-blend-normal dark:from-neutral-800 dark:to-neutral-800"></div>
  </div>
)}

{blur && <div id="background-blur" class="fixed inset-x-0 top-0 h-full single_hero_background nozoom opacity-0 bg-neutral-100/75 backdrop-blur-xl dark:bg-neutral-800/60"></div>}
{blur && <script is:inline data-blur-id="background-blur" data-scroll-divisor="300"></script>}
