---
export interface Props {
  image?: string;
  imagePosition?: string;
  alt?: string;
}

const { image, imagePosition, alt = '' } = Astro.props;
---

{image && (
  <div class="h-36 overflow-hidden md:h-56 lg:h-72">
    <img
      src={image}
      alt={alt}
      role="presentation"
      class="h-full w-full object-cover nozoom"
      style={imagePosition ? `object-position:${imagePosition};` : undefined}
    />
  </div>
)}
