---
export interface Crumb {
  label: string;
  href?: string;
}

export interface Props {
  items?: Crumb[];
}

const { items = [] } = Astro.props;
const lastIndex = items.length - 1;
---

{items.length > 0 && (
  <ol class="text-sm text-neutral-500 dark:text-neutral-400 print:hidden">
    {items.map((item, i) => (
      <li class:list={['inline', (i === 0 || i === lastIndex) && 'hidden']}>
        {item.href ? (
          <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href={item.href}>{item.label}</a>
        ) : (
          item.label
        )}
        <span class="px-1 text-primary-500">/</span>
      </li>
    ))}
  </ol>
)}
