---
import BlowfishIcon from '../BlowfishIcon.astro';
import { t } from '../../lib/i18n';

export interface Props {
  id?: 'appearance-switcher' | 'appearance-switcher-mobile';
  class?: string;
}

const { id = 'appearance-switcher', class: className } = Astro.props;
---

<button
  id={id}
  aria-label={t('nav.appearance_switcher')}
  type="button"
  class:list={[
    'text-base text-neutral-700 hover:text-primary-600 dark:text-neutral-200 dark:hover:text-primary-400',
    id === 'appearance-switcher-mobile' &&
      'flex items-center justify-center',
    className,
  ]}
>
  <div class="flex items-center justify-center dark:hidden">
    <BlowfishIcon name="moon" />
  </div>
  <div class="items-center justify-center hidden dark:flex">
    <BlowfishIcon name="sun" />
  </div>
</button>
