---
import BlowfishHomeRecent from './BlowfishHomeRecent.astro';
import type { BlowfishHomepageConfig, BlowfishRecentArticle } from '../../types/homepage';

export interface Props {
  config: BlowfishHomepageConfig;
  contentHtml?: string;
  articles?: BlowfishRecentArticle[];
}

const { config, contentHtml = '', articles = [] } = Astro.props;
---

<section class="w-full">
  {contentHtml ? <div set:html={contentHtml} /> : <slot />}
</section>

{config.showRecent && (
  <BlowfishHomeRecent
    articles={articles}
    limit={config.recentLimit || 4}
    cardView={Boolean(config.cardView)}
    showMoreLink={config.showMoreLink}
  />
)}
