---
import { pickString } from '../lib/props';

export interface Props {
  name?: string;
  icon?: string;
  iconName?: string;
  size?: string;
  class?: string;
}

const props = Astro.props as Record<string, unknown>;
const name = pickString(props, ['name', 'icon', 'iconName']);
const size = pickString(props, ['size'], '1em');
const className = pickString(props, ['class']);
---

<span class={className || undefined} aria-label={name} role="img" style={`font-size: ${size};`}>[{name}]</span>
