---
import BlowfishIcon from './BlowfishIcon.astro';

export interface Props {
  icon?: string;
  cardColor?: string;
  iconColor?: string;
  textColor?: string;
}

const {
  icon = 'triangle-exclamation',
  cardColor,
  iconColor,
  textColor,
} = Astro.props;
---

<div
  class:list={[
    'flex px-4 py-3 rounded-md shadow',
    !cardColor && 'bg-primary-100 dark:bg-primary-900',
  ]}
  style={cardColor ? `background-color: ${cardColor}` : undefined}
>
  <span
    class:list={['pe-3 flex items-center', !iconColor && 'text-primary-400']}
    style={iconColor ? `color: ${iconColor}` : undefined}
  >
    <BlowfishIcon name={icon} />
  </span>

  <span class={textColor ? undefined : 'dark:text-neutral-300'} style={textColor ? `color: ${textColor}` : undefined}>
    <slot />
  </span>
</div>
