---
import { pickString } from '../lib/props';

export interface Props {
  content?: string;
  html?: string;
  text?: string;
}

const props = Astro.props as Record<string, unknown>;
const content = pickString(props, ['content', 'html', 'text']);
---

<div class="bf-markdown">
  {content ? <Fragment set:html={content} /> : <slot />}
</div>
