---
import BlowfishIcon from '../BlowfishIcon.astro';
import { t } from '../../lib/i18n';

export interface Props { count?: number; id?: string; }
const { count, id = 'likes_count' } = Astro.props;
const isLoading = typeof count !== 'number';
const loadingText = t('global.loading');
const likesTitle = t('article.likes', { Count: typeof count === 'number' ? count : 0 });
---

<span>
  <span
    id={id}
    class:list={[
      'inline-block -mt-[2px] align-middle',
      isLoading && 'animate-pulse text-transparent max-h-3 rounded-full bg-neutral-300 dark:bg-neutral-400',
    ]}
    title={likesTitle}
  >{typeof count === 'number' ? count : loadingText}</span>
  <span class="inline-block align-text-bottom"><BlowfishIcon name="heart" /></span>
</span>
