---
import BlowfishIcon from '../BlowfishIcon.astro';
import { t } from '../../lib/i18n';

export interface Props { url: string; }
const { url } = Astro.props;
---

<span class="mb-[2px]">
  <a
    href={url}
    class="text-lg hover:text-primary-500"
    rel="noopener noreferrer"
    target="_blank"
    title={t('article.edit_title')}
  >
    <span class="inline-block align-text-bottom"><BlowfishIcon name="edit" /></span>
  </a>
</span>
