---
import BlowfishIcon from '../BlowfishIcon.astro';
import { t } from '../../lib/i18n';

export interface Props { count?: number; id?: string; }
const { count, id = 'views_count' } = Astro.props;
const loadingText = t('global.loading');
const viewsTitle = t('article.views', { Count: typeof count === 'number' ? count : 0 });
---

<span>
  <span
    id={id}
    class="animate-pulse inline-block text-transparent max-h-3 rounded-full -mt-[2px] align-middle bg-neutral-300 dark:bg-neutral-400"
    title={viewsTitle}
  >{typeof count === 'number' ? count : loadingText}</span>
  <span class="inline-block align-text-bottom"><BlowfishIcon name="eye" /></span>
</span>
